# ===== Build =====
build/
build_mg2d/
*.class

# ===== Documentation générée =====
docs-site/site/
docs-site/javadoc/

# ===== Logs =====
logs/
*.log
run.log

# ===== MG2D externe =====
../MG2D/
MG2D/

# ===== Fichiers temporaires =====
*~
*.swp
*.swo
.~lock*
.DS_Store

# ===== Python =====
__pycache__/
*.pyc